client/node_modules
client/paket-files
client/src/obj
client/tools/obj
client/build
client/docs
# Python - ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.RData
.Rhistory
server/data-store/src/config.fs
server/data-store/config.py
server/R/*.RData
anon_public_d.RData
server/R/.Rhistory
# emacs autosave files
*~
*.ipynb
resources/.ipynb_checkpoints/
.cache
server/python/.cache
.#*
#*#