client/node_modules
client/paket-files
client/src/obj
client/tools/obj
client/build
client/docs
# Python - ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
server/data-store/src/config.fs
server/R/.RData
server/R/.Rhistory
# emacs autosave files
*~
