"""
Template for configuration module holding credentials for backend storage.
Copy this file to 'config.py' and fill in your credentials as necessary.
"""

class AzureConfig:
    protocol="https"
    account_name = <ACC_NAME>
    account_key = <ACC_KEY>
    container_name = <CONT_NAME>