 @import url('https://fonts.googleapis.com/css?family=Inconsolata|Heebo:100,300,400,500,700,800,900&display=swap');

body { font-family:Heebo; background:#303030; }
header, footer { color:white; padding:5px; }
article { padding:20px 0px 20px 0px; min-height:500px; background:white; }
header h1 { font-weight:100; font-size:20pt; }
header a, header a:hover { color:white; text-decoration:none; }

article h1 { font-weight:100; font-size:30pt; }
article h2 { font-weight:300; font-size:20pt; }
article h3 { font-weight:100; font-size:16pt; }
article p, article li { font-size:12pt; }

pre { border:none; background:white !important; margin:15px 25px 15px 25px; font:11pt Inconsolata; line-height:1.4em; }
code { font:11pt Inconsolata; background:transparent; color:black; }
a, a code { color:#38668d; }
a:hover, a:hover code { color:#5483ac; }
img.screenshot { max-width:80%; margin:10px 10% 10px 10%; }
