@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

/* ----------------------------------------------------------------------------
	General notebook and cells styles	
-----------------------------------------------------------------------------*/

body { 
	font-family:Roboto;
	background:#f0f0f0;
}
#paper {
	margin:0px auto 800px auto;
	padding:0px;
}
div.cell {
	background:white;
	border-left-style: solid;
	border-left-width: 5px;
	border-right-style: solid;
	border-right-width: 5px;
	width:100%;
	padding:0px 25px 0px 25px;
}
div.icons-bar {
	height:25px;
	margin-top:10px;
	overflow:hidden;
	margin-left:-15px;
}
div.content-bar {
	padding:10px 0px 10px 0px;
}
div.controls-bar {
	height:25px;
	overflow:hidden;
	margin-right:-15px;
}
div.icons {
	float:left;
}
div.move {
	float:right;
}
div.controls {
	float:right;
}
.controls-bar a, .icons-bar span {
	font-size:10pt;
	font-weight:bold;
}
.controls-bar a {
	margin:0px 0px 0px 15px;
	cursor: pointer;
}
.icons-bar span {
	margin:0px 0px 0px 0px;
}
.controls-bar .fa, .icons-bar .fa, .controls-bar .fab, .icons-bar .fab {
	font-size:10pt;
	margin-right:5px;
}

.cell-c-default .controls-bar a, .cell-c-default .icons-bar span, .cell-c-default .controls-bar .fa, 
	.cell-c-default .icons-bar .fa, .cell-c-default .controls-bar .fab, .cell-c-default .icons-bar .fab { color:#d0d0d0; }
.cell-c-default { border-color:#d0d0d0; }
.cell-c-default a:hover, .cell-c-default a:hover i { color:#a0a0a0 !important; }

.cell-c0 .controls-bar a, .cell-c0 .icons-bar span, .cell-c0 .controls-bar .fa, 
	.cell-c0 .icons-bar .fa, .cell-c0 .controls-bar .fab, .cell-c0 .icons-bar .fab { color:#8DD3C7; }
.cell-c0 { border-color:#8DD3C7; }
.cell-c0 a:hover, .cell-c0 a:hover i { color:#4F9589 !important; }

.cell-c1 .controls-bar a, .cell-c1 .icons-bar span, .cell-c1 .controls-bar .fa, 
	.cell-c1 .icons-bar .fa, .cell-c1 .controls-bar .fab, .cell-c1 .icons-bar .fab { color:#BEBADA; }
.cell-c1 { border-color:#BEBADA; }
.cell-c1 a:hover, .cell-c1 a:hover i { color:#827E9E !important; }

.cell-c2 .controls-bar a, .cell-c2 .icons-bar span, .cell-c2 .controls-bar .fa, 
	.cell-c2 .icons-bar .fa, .cell-c2 .controls-bar .fab, .cell-c2 .icons-bar .fab { color:#FDB462; }
.cell-c2 { border-color:#FDB462; }
.cell-c2 a:hover, .cell-c2 a:hover i { color:#C27927 !important; }

.cell-c3 .controls-bar a, .cell-c3 .icons-bar span, .cell-c3 .controls-bar .fa, 
	.cell-c3 .icons-bar .fa, .cell-c3 .controls-bar .fab, .cell-c3 .icons-bar .fab { color:#B3DE69; }
.cell-c3 { border-color:#B3DE69; }
.cell-c3 a:hover, .cell-c3 a:hover i { color:#7AA530 !important; }

.cell-c4 .controls-bar a, .cell-c4 .icons-bar span, .cell-c4 .controls-bar .fa, 
	.cell-c4 .icons-bar .fa, .cell-c4 .controls-bar .fab, .cell-c4 .icons-bar .fab { color:#FB8072; }
.cell-c4 { border-color:#FB8072; }
.cell-c4 a:hover, .cell-c4 a:hover i { color:#B13628 !important; }

/* ----------------------------------------------------------------------------
	
-----------------------------------------------------------------------------*/

div.tabs {
	border-bottom:solid 5px #dfdfdf;
	height:27px;
	margin-top:5px;
}
div.tabs button {
	background-color: inherit;
	float: left;
	border: none;
	border-bottom:solid 5px #c0c0c0;
	outline: none;
	margin:0px 10px 0px 0px;
	cursor: pointer;
	font-size:10pt;
	font-weight:bold;
	color:#c0c0c0;
}
div.tabs button.selected {
	color:#878787;
	border-bottom-color:#878787;	
}
																						
div.editor {
	border-left-style: double;
	border-left-color: grey;
	padding: 5px;
	margin: 10px;
	height: 50vh;
}

button.preview-button {
	border:solid 3px #e8e8e8;
	background:#f4f4f4;
	padding:4px 20px 4px 20px;
	margin:10px 0px 0px 0px;
	color:#808080;
	font-size: 11pt;
	letter-spacing:0.5px;
	font-weight: bold;
}
div.preview pre {
	max-height:600px;
	overflow-y:scroll;
}
div.output.rendered {
	display: block;
}

div.output {
	display: none;
}

div.editor.editable {
	display: block;
}

div.editor {
	display: none;
}

div.output.rendered {
	display: block;
}

div.output {
	display: none;
}

div.editor.editable {
	display: block;
}

div.editor {
	display: none;
}


div.table-container {
	overflow-x:auto;
	overflow-y:scroll;
	max-height:400px;
}

div.table-container .table th {
	border-top-style:none;
}
div.table-container .table th, div.table-container .table td {
	padding:4px;
	font-size:11pt;
}
div.table-container::-webkit-scrollbar  {
	width:8px;
	height:8px;
	background:#f0f0f0;
}
div.table-container::-webkit-scrollbar-track {
	background:transparent;
}
div.table-container::-webkit-scrollbar-thumb {
	border-radius:4px;
	background-color:#c0c0c0;
}


/* code.indicator {
	color: darkgray;
}
div.indicators {
	float:left;
	margin-bottom: 5px;
	border-style: solid;
	border-color: grey;
	background-color: gainsboro;
	color: darkgray;

	float: left;
	margin-bottom: 5px;
	border-style: solid;
	background-color: #e8e8e8;
	border-width: 1px;
	border-color: gainsboro;
} */

button.delete {
	margin:3px;
}

.plot {
	width: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 900px) and (min-width: 600px){ 
	#paper { 
		min-width: 90%; 
		max-width: 90%;
	}
 }

 @media only screen and (max-width: 1200px) and (min-width: 900px){ 
	#paper { 
		min-width: 85%; 
		max-width: 85%;
	}
 }

 @media only screen and (max-width: 600px){ 
	#paper { 
		min-width: 95%; 
		max-width: 95%;
	}
 }

 @media only screen and (min-width: 1200px){ 
	#paper { 
		min-width: 70%; 
		max-width: 70%;
	}
 }


/* ----------------------------------------------------------------------------
	AI assistants
-----------------------------------------------------------------------------*/

.aia li {
	margin-bottom:10px;
}
.aia div.body {
	padding-left:30px;
}
.aia div.body > span:first-child {
	margin-left:-30px;
}
.aia input {
	border:solid 3px #e8e8e8;
	background:#fafafa;
	padding:2px 10px 3px 10px;
	color:#808080;
	font-size: 11pt;
	letter-spacing:0.5px;
	font-weight: bold;
	width:120px;
}
.aia .text {
	margin:0px 10px 0px 5px;
}
.aia .chain, .aia .plus button { 
	background:#f4f4f4; 
	border:solid 3px #e8e8e8;
	padding:2px 6px 2px 6px;
	margin:0px 8px 8px 0px;
	border-radius:4px; 
	display:inline-block;
	cursor:default;
	color:#808080;
	font-size: 11pt;
	letter-spacing:0.5px;
	font-weight: bold;
}
.aia .preview {
	margin-top:10px;
}
.aia .plus {
	min-height:32px;
	margin:0px 8px 4px 0px;
	display:inline-block;
}
.aia .chain button {
	border-style:none;
	background:inherit;
	color:#808080;
	font-size:80%;
	margin:0px 0px 0px 2px;
	padding:2px 4px 2px 4px;
	cursor:pointer;
}
.aia .plus button {
	background:#808080;
	border-style:none;
	color:white;
	font-size:60%;
	position:relative;
	top:0px;
	margin-right:0px;
	cursor:pointer;
}
.aia ::placeholder {
  color:#d0d0d0;
  opacity: 1;
}

.aia .completion {
	width:200px;
	max-height:300px;
	overflow-y:auto;
	overflow-x:auto;
	vertical-align:top;
	background:#f4f4f4; 
	border:solid 3px #e8e8e8;
	padding:0px;
	margin:4px 8px 4px 0px;
	border-radius:4px; 
	display:inline-block;
	color:#808080;
	font-size: 11pt;
	letter-spacing:0.5px;
}
.aia .completion .item {
	display:block;
	cursor:pointer;	
	white-space: nowrap;
	padding:0px 10px 0px 6px;
}
.aia .completion a:hover {
	background:#e8e8e8;
	color:#606060 !important;
}

.aia .tools {
	padding:5px 0px 5px 0px;
}
.aia .tools div {
	margin:5px 10px 0px 0px;
}
.aia .tools div span {
	min-width:80px;
	margin-top:2px;
	float:left;
}
.aia .tools select {
	border:solid 3px #e8e8e8;
	background:#f4f4f4;
	padding:2px 10px 2px 10px;
	color:#808080;
	font-size: 11pt;
	letter-spacing:0.5px;
}
.aia .tools button {
	border:solid 3px #e8e8e8;
	background:#f4f4f4;
	padding:1px 10px 0.5px 10px;
	color:#808080;
	font-size: 11pt;
	letter-spacing:0.5px;
	font-weight: bold;
	margin:5px 0px 0px 0px;
}
.aia .tools button:disabled {
	color:#d0d0d0;
}

/* ----------------------------------------------------------------------------
	Spreadsheet plugin
-----------------------------------------------------------------------------*/
.spreadsheet-table { 
	border-spacing: 0px; 
	border-bottom:1px solid #e0e0e0; 
	border-right:1px solid #e0e0e0; 
}
.spreadsheet-td, .spreadsheet-th { 
	width:50px; 
	border-left:1px solid #e0e0e0; 
	border-top:1px solid #e0e0e0; 
	border-bottom:1px solid #e0e0e0; 
	padding:5px; 
}    
.spreadsheet-td.selected { 
	padding:0px; 
}
.spreadsheet-td input { 
	width:56px; 
	height:22px; 
}