img {
	width:3%; /* you can use % */
	height: auto;
}



/* code.indicator {
	color: darkgray;
}
div.indicators {
	float:left;
	margin-bottom: 5px;
	border-style: solid;
	border-color: grey;
	background-color: gainsboro;
	color: darkgray;

	float: left;
	margin-bottom: 5px;
	border-style: solid;
	background-color: #e8e8e8;
	border-width: 1px;
	border-color: gainsboro;
} */

i.control {
	padding:3px;
}

body{
  color:#000;
  /* background-color:gainsboro; */
    
}

#paper {
  margin: auto;
}

@media only screen and (max-width: 900px) and (min-width: 600px){ 
	#paper { 
		min-width: 90%; 
		max-width: 90%;
		/* background-color: red; */
	}
 }

 @media only screen and (max-width: 1200px) and (min-width: 900px){ 
	#paper { 
		min-width: 85%; 
		max-width: 85%;
		/* background-color: blue; */
	}
 }

 @media only screen and (max-width: 600px){ 
	#paper { 
		min-width: 95%; 
		max-width: 95%;
		/* background-color: green; */
	}
 }

 @media only screen and (min-width: 1200px){ 
	#paper { 
		min-width: 70%; 
		max-width: 70%;
		/* background-color: green; */
	}
 }

